<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Veículos</title>
</head>
<body>
    

    <form action="/admin" method="POST">
        <label for="nome_veiculo">Nome do veículo:</label><br>
        <input type="text" name="nome_veiculo"><br>

        <label for="marca_veiculo">Marca do Veículo</label><br>
        <input type="text" name="marca_veiculo"><br>

        <label for="modelo_veiculo">Modelo do veículo:</label><br>
        <input type="text" name="modelo_veiculo"><br>

        <label for="categoria_veiculo">Categoria do Veículo</label><br>
        <input type="text" name="categoria_veiculo"><br>

        <label for="cor_veiculo">Cor do veículo:</label><br>
        <input type="text" name="cor_veiculo"><br>

        <label for="ano_veiculo">Ano do Veículo</label><br>
        <input type="text" name="ano_veiculo"><br>

        <label for="preco_veiculo">Preço da diária do veículo:</label><br>
        <input type="text" name="preco_veiculo"><br>

        <label for="disponibilidade_veiculo">Disponibilidade do Veículo</label><br>
        <input type="text" name="disponibilidade_veiculo"><br>

        <label for="placa_veiculo">Placa do veículo:</label><br>
        <input type="text" name="placa_veiculo"><br>

        <input type="submit" value="Cadastrar">      
    </form>
</body>
</html>